button{
	margin: 10px;
}
.gifImage{
	margin: 10px;
}
p{
	margin-bottom: 0px;
	font-weight: bolder;
}
input,
#submit{
	font-size: 18px;
	font-weight: bold;
	color: #007bff;
	background-color: white;
	border: solid;
	border-color: #007bff;
	border-width: 4px;
}
form{
	font-size: 18px;
	color: #007bff;
	font-weight: bold;
}
